@import "imports/svg";

$main_font: 'Jaldi';
$main_font_color: #f7f1c3;
$greeting_font_color: #2E6473;
$background_color: #f7f1c3;
$nav_bar_color: #2E6473;
$about_color: #CA4B4B;
$project_color: #628D48;
$contact_color: #CA9F4B;
$contact_font_color: #FFF;
$footer_color: #35395E;

@mixin stripe() {
    border: solid $background_color 1px;
    border-right: 0;
    border-left: 0;
}

@mixin flex_space_between {
    display: flex;
    justify-content: space-between;
}

@mixin flex_center {
    display: flex;
    align-items: center;
}

@mixin image_container {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

//modal Mixins
@mixin close_button {
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

@mixin description_modal {
    position: absolute;
    margin: 10px;
    border: solid 1px $background_color;
    border-radius: 10px;
    background-color: #385228;
    opacity: 0.95;
    font-size: 2.1vw;
    z-index: 199;
    padding: 10px;
}

@mixin description_header {
    text-align: center;
    margin: 0;
    opacity: 1;
}

@mixin description_text {
    opacity: 1;
    margin: 0;
    padding: 0 10px 10px 20px;
}

//-------------------------------------------------

* {
    box-sizing: border-box;
}

body {
    margin:0;
    font-family: $main_font;
    background-color: $background_color;
    color: $main_font_color;
    position: relative;
    overflow-x: hidden;
}


//parallax sticky classes added with jquery
.sticky_about {
    position: sticky;
    top: -10px;
}

.sticky_projects {
    position: sticky;
    top: -550px;
}

.sticky_bottom {
    z-index: 400;
    position: sticky;
    top: 0;
    background-color: $background_color;
}

.top_container {
    position: sticky;
    top: 0;
    z-index: 1;
}


nav {
    background-color: $nav_bar_color;
    padding: 20px 0 20px 0;
}

.nav_stripe {
    @include flex_space_between();
    @include stripe();
    padding: 0;
}

.michael {
    font-size:3vw;
    margin-left: 10vw;
}

.michael h2 {
    margin: 0;
    border: $nav_bar_color solid 1px;
    border-radius: 5px;
}

.nav_bar_list_container {
    @include flex_center;
    margin-right: 100px;
}

.nav_list {
    display: flex;
    list-style-type: none;
}

ul {
    margin: 0;
}

a {
    text-decoration: none;
    color: $main_font_color;
    z-index: 1;
}

ul a {
    border: $nav_bar_color solid 1px;
    padding: 0 5px 0 5px;
}

ul a:hover {
    border: $main_font_color solid 1px;
    border-radius: 5px;
    padding: 0 5px 0 5px;
}

li {
    margin: 0 30px;
    font-size: 2.3vw;
    color: $main_font_color;
}

.hamburger_icon {
    display: none;
}

header {
    @include flex_space_between();
    margin: 1vw 6vw 1vw 6vw;
}

.svg_container {
    width: 35vw;
}

svg {
    width: 100%;
    height: 100%;
}

.welcome_container {
    opacity: 0;
    width: 50%;
    //margin: 50px 50px 0 0;
    @include flex_center;
    flex-direction: column;
    color: $greeting_font_color;
}


.stripe_padding {
    border-radius: 10px;
    padding: 20px 0 20px 0;
    width: 100%;
}

.greeting_stripe {
    @include flex_space_between();
    border: solid $greeting_font_color 1px;
    border-right: 0;
    border-left: 0;
    padding: 0;
}

.welcome_message {
    width: 100%;
    @include flex_center;
    flex-direction: column;
}

.welcome_message h1 {
    margin: 0 0 -40px 0;
    font-size: 7vw;
}

.welcome_message h2 {
    margin: 0;
    font-size: 5vw;
}

.status {
    padding-bottom: 20px;
    font-size: 3vw;
    margin: 0;
}

.learn {
    @include flex_center;
    flex-direction: column;
    font-size: 3vw;
    width: 70%;
    border-radius: 10px;
}

.learn a {
    color: $greeting_font_color;
    border: $background_color solid 1px;
    padding: 0 5px 0 5px;
}

.learn a:hover {
    border: $greeting_font_color solid 1px;
    border-radius: 5px;
    padding: 0 5px 0 5px;
}

.about_container {
    position: sticky;
    z-index: 100;
    width: 100%;
    background-color: $about_color;
    padding: 20px 0 20px 0;
}

.about_stripe {
    background-color: $about_color;
    @include flex_space_between();
    @include stripe();
}

.intro_text {
    width: 50%;
    padding-left: 50px;
}

.intro_text h1 {
    font-size: 5vw;
    margin-top: 0;
    margin-bottom: -20px;
    text-align: center;
}

.intro_text p {
    padding-bottom: 20px;
    font-size: 1.8vw;
}

.small_photo {
    display: none;
}

.photo_container {
    border-radius: 100px;
    margin: 50px;
    width: 40%;
    @include image_container;
}

.project_container_stripe {
    position: sticky;
    z-index: 200;
    padding: 20px 0 20px 0;
    background-color: $project_color;
}

.projects_container {
    width: 100%;
    background-color: $project_color;
    @include stripe();
}

.projects_container h1 {
    font-size: 5vw;
    margin: -15px 0 0 0;
    text-align: center;
}

.projects_stripe {
    background-color: $project_color;
    border-top: solid $background_color 1px;
    border-right: 0;
    border-left: 0;
}

#food_delivered_container {
    position: relative;
}

.project_container {
    @include flex_space_between();
}

#food_delivered_description {
    @include description_modal;
}

#food_delivered_description h2 {
    @include description_header;
}

#food_delivered_description p {
    @include description_text;
}

.full_desc {
    display: none;
}

.description_header {
    position: relative;
}

#close_food_delivered_desc_button {
    @include close_button;
}

.description_stripe {
    border-top: solid 1px $main_font_color;
}

.screenshot_container {
    border-radius: 10px;
    margin: 30px 30px 30px 50px;
    width: 40%;
    height: 22vw;
    @include image_container;
}

.project_text {
    width: 65%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project_text h2 {
    font-size: 3.5vw;;
    margin: 0;
}

.project_description p {
    font-size: 2.2vw;
    margin-top: 0;
    margin-bottom: 20px;
}

.more_info {
    @include flex_space_between;
}

.more_info a {
    border: solid 1px $project_color;
}

.more_info a:hover {
    border: solid 1px $main_font_color;
}

.read_more {
    font-size: 2.5vw;
    color: $main_font_color;
    border-radius: 10px;
    padding: 0 10px 0 10px;
    margin-right: 10px;
    cursor: pointer;
}

.project_link {
    font-size: 2.5vw;
    border-radius: 10px;
    padding: 0 10px 0 10px;
    margin-right: 10px;
}

.project_link .fa {
    color: $main_font_color;
}

.project_link .fa-brands {
    color: $main_font_color;
}

#penny_lane_container {
    position: relative;
}

#penny_lane_description {
    @include description_modal;
}

#penny_lane_description h2 {
    @include description_header;
}

#penny_lane_description p {
    @include description_text;
}

#close_penny_desc_button {
    @include close_button;
}

#gopher_glory_container {
    position: relative;
}

#gopher_glory_description {
    @include description_modal;
}

#gopher_glory_description h2 {
    @include description_header;
}

#gopher_glory_description p {
    @include description_text;
}

#close_gopher_desc_button {
    @include close_button;
}

.contact_padding {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $contact_color;
}

.contact_container {
    background-color: $contact_color;
    color: #FFF;
    @include stripe();
    text-align: center;
}

.contact_container h1 {
    font-size: 5vw;
    margin-top: 20px;
    margin-bottom: 0;
    display: inline;
}

.contact_container form {
    text-align: left;
    margin: 0 150px 20px 150px;
}

label {
    font-size: 2vw;
}

input[type=text] {
    font-size: 2vw;
    font-family: $main_font;
    display: block;
    border: $contact_font_color solid 1px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
}

input[type=email] {
    font-size: 2vw;
    font-family: $main_font;
    display: block;
    border: $contact_font_color solid 1px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
}

form .message {
    font-size: 2vw;
    font-family: $main_font;
    display: block;
    border: $contact_font_color solid 1px;
    border-radius: 5px;
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
}

input[type=submit] {
    font-size: 3vw;
    color: $contact_font_color;
    background-color: transparent;
    font-family: $main_font;
    width: 150px;
    border: $contact_color solid 1px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}

input[type=submit]:hover {
    border: $contact_font_color solid 1px;
    border-radius: 5px;
}

.socials {
    display: block;
    text-align: center;
    font-size: 4.5vw;
    margin-top: 5px;
}

.socials .fa {
    color: $footer_color;
    text-align: center;
    padding: 10px;
}

.socials_link {
    border: solid $background_color 1px;
}

.socials_link:hover {
    border: solid $footer_color 1px;
    border-radius: 5px;
}

.copyright_info {
    color: $footer_color;
    font-size: 1.5vw;
    display: block;
    text-align: center;
    padding-bottom: 15px;
}

.copyright_info a {
    color: $footer_color;
}

.back_to_top {
    border-radius: 5px;
    background-color: crimson;
    position: sticky;
    z-index: 500;
    bottom: 10px;
    left: 100vw;
    width: 100px;
    text-align: center;
    padding: 2px;
    margin-right: 20px;
    opacity: 0;
}

.back_to_top:hover {
    background-color: $background_color;
    color: crimson;
}

.show {
    opacity: 1;
}

// thank you page

.contact_container p {
    font-size: 4vw;
    margin: 0 0 10px 0;
}

.back_to_portfolio{
    padding: 10px;
}

.contact_container a {
    font-size: 3vw;
    border-radius: 5px;
    background-color: crimson;
    margin: 10px;
    padding: 0 10px 0 10px;
}

.contact_container a:hover {
    background-color: #f7f1c3;
    color: crimson;
}

//-----------------------media queries

@media (max-width: 950px) {

    .sticky_about {
        position: sticky;
        top: -200px;
    }

    .sticky_projects {
        position: sticky;
        top: -600px;
    }

    .sticky_bottom {
        z-index: 400;
        position: sticky;
        top: -100px;
    }

    .michael {
        font-size: 5vw;
        margin-left: 2vw;
    }

    .hide {
        display: none
    }

    .nav_stripe {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav_bar_list_container {
        background-color: $nav_bar_color;
        position: fixed;
        top: 15vw;
        right: 10px;
        margin-right: 0;
        border: 1px solid $background_color;
        z-index: 2;
    }

    .nav_list {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    li {
        margin: 0;
        font-size: 5.5vw;
    }

    .hamburger_icon {
        display: block;
        padding-right: 5vw;
        font-size: 6vw;
    }

    header {
        margin: 1vw;
    }

    .svg_container {
        width: 50vw;
    }

    .welcome_message h1 {
        margin-bottom: -18px;
        font-size: 8vw;
    }

    .welcome_message h2 {
        font-size: 7vw;
    }

    .status {
        font-size: 5vw;
    }

    .learn {
        font-size: 4.5vw;
        padding-bottom: 2vw;
    }

    .intro_text {
        padding: 0 10px 10px 10px;
        width: 100%;
    }

    .intro_text h1 {
        font-size: 7vw;
        margin: 0;
    }

    .intro_text p {
        font-size: 4vw;
        padding-bottom: 20px;
        margin: 0;
    }

    .wrapped_photo {
        display: flex;
        align-items: center;
    }

    .small_photo {
        display: block;
        margin: 10px 0 10px 10px;
        border-radius: 40px;
        width: 110%;
        height: 27vw;
    }

    .large_photo {
        display: none;
    }

    .projects_container h1 {
        margin: 0;
        font-size: 7vw;
    }

    .screenshot_container {
        margin: 15px 10px 10px 10px;
        height: 35vw;
    }

    .project_text {
        padding: 10px;
    }

    .project_text h2 {
        font-size: 5vw;
    }

    .project_description p {
        margin: 0;
        font-size: 3.5vw;
    }

    #food_delivered_description p,
    #penny_lane_description p,
    #gopher_glory_description p {
        font-size: 3vw;
        padding-bottom: 0;
    }

    .more_info a {
        margin: 0;
        font-size: 3vw;
    }

    .project_link {
        padding: 0 1px 0 1px;
    }

    .contact_container h1 {
        font-size: 7vw;
    }

    label {
        font-size: 4vw;
    }

    .contact_container form {
        text-align: left;
        margin: 0 50px 20px 50px;
    }

    input[type=text],
    input[type=email] {
        font-size: 4vw;
    }

    input[type=submit] {
        font-size: 5vw;
        margin-bottom: 0;
    }

    form .message {
        font-size: 4vw;
    }

    .socials {
        font-size: 7vw;
    }

    .copyright_info {
        font-size: 3vw;
    }
}

@media (max-width: 700px) {
    .sticky_about {
        position: sticky;
        top: 0;
    }

    .sticky_projects {
        position: sticky;
        top: 0;
    }

    .sticky_bottom {
        z-index: 400;
        position: sticky;
        top: -100px;
    }

    .small_photo {
        width: 150%;
        height: 37vw;
    }
}





