@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.rotate_interval {
  animation-name: rotate; }

.top_circle_image {
  margin: 100px;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  transform-origin: 318px 112px; }

.top_left_circle_image {
  margin: 100px;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  transform-origin: 113px 239px; }

.bottom_left_circle_image {
  margin: 100px;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  transform-origin: 120px 481px; }

.bottom_circle_image {
  margin: 100px;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  transform-origin: 332px 592px; }

.top_right_circle_image {
  margin: 100px;
  animation-duration: 10s;
  animation-direction: reverse;
  animation-timing-function: ease-in-out;
  transform-origin: 531px 228px; }

.bottom_right_circle_image {
  margin: 100px;
  animation-duration: 10s;
  animation-direction: reverse;
  animation-timing-function: ease-in-out;
  transform-origin: 535px 466px; }

.main_circle_image {
  margin: 100px;
  animation-duration: 10s;
  animation-direction: reverse;
  animation-timing-function: ease-in-out;
  transform-origin: 327px 365px; }

.bottom_polygon {
  margin: 100px;
  animation-duration: 10s;
  animation-direction: reverse;
  animation-timing-function: ease-in-out;
  transform-origin: 327px 365px; }

.top_polygon {
  margin: 100px;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  transform-origin: 327px 365px; }

.polygon_frame {
  margin: 100px;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  transform-origin: 327px 365px; }

.polygon_frame_reverse {
  margin: 100px;
  animation-duration: 10s;
  animation-direction: reverse;
  animation-timing-function: ease-in-out;
  transform-origin: 327px 365px; }

* {
  box-sizing: border-box; }

html, body {
  overflow-x: hidden; }

body {
  margin: 0 auto;
  font-family: "Jaldi";
  background-color: #f7f1c3;
  color: #f7f1c3;
  overflow-x: hidden;
  width: 100%; }

.sticky {
  position: sticky;
  top: 0; }

.sticky_projects {
  position: sticky;
  top: -600px; }

.bottom_sticky {
  z-index: 400;
  position: sticky;
  top: 0px;
  background-color: #f7f1c3; }

.top_container {
  position: sticky;
  top: 0;
  z-index: 1; }

#top {
  position: relative; }

.michael {
  font-size: 3vw;
  margin-left: 10vw; }

.michael h2 {
  margin: 0;
  border: #2E6473 solid 1px;
  border-radius: 5px; }

.about_link:hover {
  border: #f7f1c3 solid 1px;
  border-radius: 5px; }

nav {
  background-color: #2E6473;
  padding: 20px 0 20px 0; }

.nav_stripe {
  display: flex;
  justify-content: space-between;
  border: solid #f7f1c3 1px;
  border-right: 0;
  border-left: 0;
  padding: 0; }

.nav_bar_list_container {
  display: flex;
  align-items: center;
  margin-right: 100px; }

.nav_list {
  display: flex;
  list-style-type: none; }

a {
  text-decoration: none;
  color: #f7f1c3;
  z-index: 1; }

ul a {
  border: #2E6473 solid 1px;
  padding: 0 5px 0 5px; }

ul a:hover {
  border: #f7f1c3 solid 1px;
  border-radius: 5px;
  padding: 0 5px 0 5px; }

ul {
  margin: 0; }

li {
  margin: 0 30px;
  font-size: 2.3vw;
  color: #f7f1c3; }

.hamburger_icon {
  display: none; }

header {
  display: flex;
  justify-content: space-between;
  margin: 1vw 6vw 1vw 6vw; }

.svg_container {
  width: 35vw; }

svg {
  width: 100%;
  height: 100%; }

.welcome_container {
  opacity: 0;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #2E6473; }

.greeting_stripe {
  display: flex;
  justify-content: space-between;
  border: solid #2E6473 1px;
  border-right: 0;
  border-left: 0;
  padding: 0; }

.stripe_padding {
  border-radius: 10px;
  padding: 20px 0 20px 0;
  width: 100%; }

.welcome_message {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 2vw; }

.welcome_message h1 {
  margin: 0 0 -40px 0;
  font-size: 7vw; }

.welcome_message h2 {
  margin: 0;
  font-size: 5vw; }

.status {
  padding-bottom: 20px;
  font-size: 3vw;
  margin: 0; }

.learn {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 3vw;
  width: 70%;
  margin-top: 20px;
  border-radius: 10px; }

.learn a {
  color: #2E6473;
  border: #f7f1c3 solid 1px;
  padding: 0 5px 0 5px; }

.learn a:hover {
  border: #2E6473 solid 1px;
  border-radius: 5px;
  padding: 0 5px 0 5px; }

.about_container {
  position: sticky;
  z-index: 100;
  width: 100%;
  background-color: #CA4B4B;
  padding: 20px 0 20px 0; }

.about_stripe {
  background-color: #CA4B4B;
  display: flex;
  justify-content: space-between;
  border: solid #f7f1c3 1px;
  border-right: 0;
  border-left: 0; }

.intro_text {
  width: 50%;
  padding: 0 0 0 50px; }

.intro_text h1 {
  font-size: 5vw;
  margin: 0 0 -20px 0;
  text-align: center; }

.intro_text p {
  padding-bottom: 20px;
  font-size: 1.8vw; }

.photo_container {
  border-radius: 100px;
  margin: 50px;
  width: 40%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.project_container_stripe {
  position: sticky;
  z-index: 200;
  padding: 20px 0 20px 0;
  background-color: #628D48; }

.projects_container {
  width: 100%;
  background-color: #628D48;
  border: solid #f7f1c3 1px;
  border-right: 0;
  border-left: 0; }

.projects_container h1 {
  font-size: 5vw;
  margin: -15px 0 0 0;
  text-align: center; }

.projects_stripe {
  background-color: #628D48;
  border-top: solid white 1px;
  border-right: 0;
  border-left: 0; }

.project_container {
  display: flex;
  justify-content: space-between; }

.screenshot_container {
  border-radius: 10px;
  margin: 30px 30px 30px 50px;
  width: 40%;
  height: 22vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.project_text {
  width: 65%;
  padding: 20px; }

.project_text h2 {
  font-size: 3.5vw;
  margin: 0; }

.project_description p {
  font-size: 2.2vw;
  margin-top: 0;
  margin-bottom: 20px; }

.more_info {
  display: flex;
  justify-content: space-between; }

.more_info a {
  border: solid 1px #628D48; }

.more_info a:hover {
  border: solid 1px #f7f1c3; }

.read_more {
  font-size: 2.5vw;
  color: #f7f1c3;
  border-radius: 10px;
  padding: 0 10px 0 10px;
  margin-right: 10px;
  cursor: pointer; }

.project_link {
  font-size: 2.5vw;
  border-radius: 10px;
  padding: 0 10px 0 10px;
  margin-right: 10px; }

.project_link .fa {
  color: #f7f1c3; }

.project_link .fa-brands {
  color: #f7f1c3; }

.full_desc {
  display: none; }

.description_header {
  position: relative; }

.description_stripe {
  border-top: solid 1px #f7f1c3; }

#food_delivered_container {
  position: relative; }

#food_delivered_description {
  position: absolute;
  margin: 10px;
  border: solid 1px white;
  border-radius: 10px;
  background-color: #385228;
  opacity: 0.95;
  font-size: 2.1vw;
  z-index: 199;
  padding: 10px; }

#close_food_delivered_desc_button {
  position: absolute;
  right: 0%;
  top: 0%;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer; }

#food_delivered_description h2 {
  text-align: center;
  margin: 0;
  opacity: 1; }

#food_delivered_description p {
  opacity: 1;
  margin: 0;
  padding: 0px 10px 0px 20px; }

#penny_lane_container {
  position: relative; }

#penny_lane_description {
  position: absolute;
  margin: 10px;
  border: solid 1px white;
  border-radius: 10px;
  background-color: #385228;
  opacity: 0.95;
  font-size: 2.1vw;
  z-index: 199;
  padding: 10px; }

#close_penny_desc_button {
  position: absolute;
  right: 0%;
  top: 0%;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer; }

#penny_lane_description h2 {
  text-align: center;
  margin: 0;
  opacity: 1; }

#penny_lane_description p {
  opacity: 1;
  margin: 0;
  padding: 0px 10px 10px 20px; }

#gopher_glory_container {
  position: relative; }

#gopher_glory_description {
  position: absolute;
  margin: 10px;
  border: solid 1px white;
  border-radius: 10px;
  background-color: #385228;
  opacity: 0.95;
  font-size: 2.1vw;
  z-index: 199;
  padding: 10px; }

#close_gopher_desc_button {
  position: absolute;
  right: 0%;
  top: 0%;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer; }

#gopher_glory_description h2 {
  text-align: center;
  margin: 0;
  opacity: 1; }

#gopher_glory_description p {
  opacity: 1;
  margin: 0;
  padding: 0px 10px 10px 20px; }

.contact_padding {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #CA9F4B; }

.contact_container {
  background-color: #CA9F4B;
  color: #FFF;
  border: solid #f7f1c3 1px;
  border-right: 0;
  border-left: 0;
  text-align: center; }

.contact_container form {
  text-align: left;
  margin: 0 150px 20px 150px; }

.contact_container h1 {
  font-size: 5vw;
  margin-top: 20px;
  margin-bottom: 0px;
  display: inline; }

label {
  font-size: 2vw; }

input[type=text] {
  font-size: 2vw;
  display: block;
  border: white solid 1px;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px; }

input[type=submit] {
  font-size: 3vw;
  color: white;
  background-color: transparent;
  font-family: "Jaldi";
  width: 150px;
  border: #CA9F4B solid 1px;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  margin-bottom: 30px; }

input[type=submit]:hover {
  border: white solid 1px;
  border-radius: 5px; }

form .message {
  font-size: 2vw;
  display: block;
  border: white solid 1px;
  border-radius: 5px;
  width: 100%;
  height: 100px;
  margin-bottom: 20px; }

.copyright_info {
  color: #35395E;
  font-size: 1.5vw;
  display: block;
  text-align: center;
  padding-bottom: 15px; }

.socials {
  display: block;
  text-align: center;
  font-size: 4.5vw;
  margin-top: 5px; }

.socials .fa {
  color: #35395E;
  text-align: center;
  padding: 10px; }

.socials_link {
  border: solid #f7f1c3 1px; }

.socials_link:hover {
  border: solid #35395E 1px;
  border-radius: 5px; }

.copyright_info a {
  color: #35395E; }

.back_to_top {
  border-radius: 5px;
  background-color: crimson;
  position: sticky;
  z-index: 500;
  bottom: 10px;
  left: 10000px;
  width: 100px;
  text-align: center;
  padding: 2px;
  margin-right: 20px;
  opacity: 0; }

.back_to_top:hover {
  background-color: #f7f1c3;
  color: crimson; }

.show {
  opacity: 1; }

@media (max-width: 950px) {
  body {
    background-color: black; }

  .nav_bar_list_container {
    display: none;
    background-color: #2E6473;
    position: absolute;
    top: 4.5vw;
    right: 10px;
    margin-right: 0;
    border: 1px solid #f7f1c3;
    z-index: 2; }

  .nav_list {
    display: flex;
    flex-direction: column;
    padding: 10px; }

  li {
    margin: 0;
    font-size: 4vw; }

  .hamburger_icon {
    display: block;
    padding-right: 5vw;
    font-size: 4.5vw; }

  .intro_text p {
    padding: 10px;
    font-size: 2vw; }

  .contact_container form {
    text-align: left;
    margin: 0 50px 20px 50px; } }

/*# sourceMappingURL=style.css.map */
