@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.rotate_interval {
  animation-name: rotate; }

.top_circle_image {
  margin: 100px;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  transform-origin: 318px 112px; }

.top_left_circle_image {
  margin: 100px;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  transform-origin: 113px 239px; }

.bottom_left_circle_image {
  margin: 100px;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  transform-origin: 120px 481px; }

.bottom_circle_image {
  margin: 100px;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  transform-origin: 332px 592px; }

.top_right_circle_image {
  margin: 100px;
  animation-duration: 10s;
  animation-direction: reverse;
  animation-timing-function: ease-in-out;
  transform-origin: 531px 228px; }

.bottom_right_circle_image {
  margin: 100px;
  animation-duration: 10s;
  animation-direction: reverse;
  animation-timing-function: ease-in-out;
  transform-origin: 535px 466px; }

.main_circle_image {
  margin: 100px;
  animation-duration: 10s;
  animation-direction: reverse;
  animation-timing-function: ease-in-out;
  transform-origin: 327px 365px; }

.bottom_polygon {
  margin: 100px;
  animation-duration: 10s;
  animation-direction: reverse;
  animation-timing-function: ease-in-out;
  transform-origin: 327px 365px; }

.top_polygon {
  margin: 100px;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  transform-origin: 327px 365px; }

.polygon_frame {
  margin: 100px;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  transform-origin: 327px 365px; }

.polygon_frame_reverse {
  margin: 100px;
  animation-duration: 10s;
  animation-direction: reverse;
  animation-timing-function: ease-in-out;
  transform-origin: 327px 365px; }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: "Jaldi";
  background-color: #f7f1c3;
  color: #f7f1c3;
  position: relative;
  overflow-x: hidden; }

.sticky_about {
  position: sticky;
  top: -10px; }

.sticky_projects {
  position: sticky;
  top: -550px; }

.sticky_bottom {
  z-index: 400;
  position: sticky;
  top: 0;
  background-color: #f7f1c3; }

.top_container {
  position: sticky;
  top: 0;
  z-index: 1; }

nav {
  background-color: #2E6473;
  padding: 20px 0 20px 0; }

.nav_stripe {
  display: flex;
  justify-content: space-between;
  border: solid #f7f1c3 1px;
  border-right: 0;
  border-left: 0;
  padding: 0; }

.michael {
  font-size: 3vw;
  margin-left: 10vw; }

.michael h2 {
  margin: 0;
  border: #2E6473 solid 1px;
  border-radius: 5px; }

.nav_bar_list_container {
  display: flex;
  align-items: center;
  margin-right: 100px; }

.nav_list {
  display: flex;
  list-style-type: none; }

ul {
  margin: 0; }

a {
  text-decoration: none;
  color: #f7f1c3;
  z-index: 1; }

ul a {
  border: #2E6473 solid 1px;
  padding: 0 5px 0 5px; }

li {
  margin: 0 30px;
  font-size: 2.3vw;
  color: #f7f1c3; }

.hamburger_icon {
  display: none; }

header {
  display: flex;
  justify-content: space-between;
  margin: 1vw 6vw 1vw 6vw; }

.svg_container {
  width: 35vw; }

svg {
  width: 100%;
  height: 100%; }

.welcome_container {
  opacity: 0;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #2E6473; }

.stripe_padding {
  border-radius: 10px;
  padding: 20px 0 20px 0;
  width: 100%; }

.greeting_stripe {
  display: flex;
  justify-content: space-between;
  border: solid #2E6473 1px;
  border-right: 0;
  border-left: 0;
  padding: 0; }

.welcome_message {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column; }

.welcome_message h1 {
  margin: 0 0 -40px 0;
  font-size: 7vw; }

.welcome_message h2 {
  margin: 0;
  font-size: 5vw; }

.status {
  padding-bottom: 20px;
  font-size: 3vw;
  margin: 0; }

.learn {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 3vw;
  width: 70%;
  border-radius: 10px; }

.learn a {
  color: #2E6473;
  border: #f7f1c3 solid 1px;
  padding: 0 5px 0 5px; }

.about_container {
  position: sticky;
  z-index: 100;
  width: 100%;
  background-color: #CA4B4B;
  padding: 20px 0 20px 0; }

.about_stripe {
  background-color: #CA4B4B;
  display: flex;
  justify-content: space-between;
  border: solid #f7f1c3 1px;
  border-right: 0;
  border-left: 0; }

.intro_text {
  width: 50%;
  padding-left: 50px; }

.intro_text h1 {
  font-size: 5vw;
  margin-top: 0;
  margin-bottom: -20px;
  text-align: center; }

.intro_text p {
  padding-bottom: 20px;
  font-size: 1.8vw; }

.small_photo {
  display: none; }

.photo_container {
  border-radius: 100px;
  margin: 50px;
  width: 40%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.project_container_stripe {
  position: sticky;
  z-index: 200;
  padding: 20px 0 20px 0;
  background-color: #628D48; }

.projects_container {
  width: 100%;
  background-color: #628D48;
  border: solid #f7f1c3 1px;
  border-right: 0;
  border-left: 0; }

.projects_container h1 {
  font-size: 5vw;
  margin: -15px 0 0 0;
  text-align: center; }

.projects_stripe {
  background-color: #628D48;
  border-top: solid #f7f1c3 1px;
  border-right: 0;
  border-left: 0; }

#food_delivered_container {
  position: relative; }

.project_container {
  display: flex;
  justify-content: space-between; }

#food_delivered_description {
  position: absolute;
  margin: 10px;
  border: solid 1px #f7f1c3;
  border-radius: 10px;
  background-color: #385228;
  opacity: 0.95;
  font-size: 2.1vw;
  z-index: 199;
  padding: 10px; }

#food_delivered_description h2 {
  text-align: center;
  margin: 0;
  opacity: 1; }

#food_delivered_description p {
  opacity: 1;
  margin: 0;
  padding: 0 10px 10px 20px; }

.full_desc {
  display: none; }

.description_header {
  position: relative; }

#close_food_delivered_desc_button {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer; }

.description_stripe {
  border-top: solid 1px #f7f1c3; }

.screenshot_container {
  border-radius: 10px;
  margin: 30px 30px 30px 50px;
  width: 40%;
  height: 22vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.project_text {
  width: 65%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.project_text h2 {
  font-size: 3.5vw;
  margin: 0; }

.project_description p {
  font-size: 2.2vw;
  margin-top: 0;
  margin-bottom: 20px; }

.more_info {
  display: flex;
  justify-content: space-between; }

.more_info a {
  border: solid 1px #628D48; }

.read_more {
  font-size: 2.5vw;
  color: #f7f1c3;
  border-radius: 10px;
  padding: 0 10px 0 10px;
  margin-right: 10px;
  cursor: pointer; }

.project_link {
  font-size: 2.5vw;
  border-radius: 10px;
  padding: 0 10px 0 10px;
  margin-right: 10px; }

.project_link .fa {
  color: #f7f1c3; }

.project_link .fa-brands {
  color: #f7f1c3; }

#penny_lane_container {
  position: relative; }

#penny_lane_description {
  position: absolute;
  margin: 10px;
  border: solid 1px #f7f1c3;
  border-radius: 10px;
  background-color: #385228;
  opacity: 0.95;
  font-size: 2.1vw;
  z-index: 199;
  padding: 10px; }

#penny_lane_description h2 {
  text-align: center;
  margin: 0;
  opacity: 1; }

#penny_lane_description p {
  opacity: 1;
  margin: 0;
  padding: 0 10px 10px 20px; }

#close_penny_desc_button {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer; }

#gopher_glory_container {
  position: relative; }

#gopher_glory_description {
  position: absolute;
  margin: 10px;
  border: solid 1px #f7f1c3;
  border-radius: 10px;
  background-color: #385228;
  opacity: 0.95;
  font-size: 2.1vw;
  z-index: 199;
  padding: 10px; }

#gopher_glory_description h2 {
  text-align: center;
  margin: 0;
  opacity: 1; }

#gopher_glory_description p {
  opacity: 1;
  margin: 0;
  padding: 0 10px 10px 20px; }

#close_gopher_desc_button {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer; }

.contact_padding {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #CA9F4B; }

.contact_container {
  background-color: #CA9F4B;
  color: #FFF;
  border: solid #f7f1c3 1px;
  border-right: 0;
  border-left: 0;
  text-align: center; }

.contact_container h1 {
  font-size: 5vw;
  margin-top: 20px;
  margin-bottom: 0;
  display: inline; }

.contact_container form {
  text-align: left;
  margin: 0 150px 20px 150px; }

label {
  font-size: 2vw; }

input[type=text] {
  font-size: 2vw;
  font-family: "Jaldi";
  display: block;
  border: #FFF solid 1px;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px; }

input[type=email] {
  font-size: 2vw;
  font-family: "Jaldi";
  display: block;
  border: #FFF solid 1px;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px; }

form .message {
  font-size: 2vw;
  font-family: "Jaldi";
  display: block;
  border: #FFF solid 1px;
  border-radius: 5px;
  width: 100%;
  height: 100px;
  margin-bottom: 20px; }

input[type=submit] {
  font-size: 3vw;
  color: #FFF;
  background-color: transparent;
  font-family: "Jaldi";
  width: 150px;
  border: #CA9F4B solid 1px;
  margin: 0 auto;
  display: block;
  cursor: pointer; }

.socials {
  display: block;
  text-align: center;
  font-size: 4.5vw;
  margin-top: 5px; }

.socials .fa {
  color: #35395E;
  text-align: center;
  padding: 10px; }

.socials_link {
  border: solid #f7f1c3 1px; }

.copyright_info {
  color: #35395E;
  font-size: 1.5vw;
  display: block;
  text-align: center;
  padding-bottom: 15px; }

.copyright_info a {
  color: #35395E; }

.back_to_top {
  border-radius: 5px;
  background-color: crimson;
  position: fixed;
  z-index: 500;
  bottom: 10px;
  width: 100px;
  right: 10px;
  text-align: center;
  padding: 2px;
  opacity: 0; }

.show {
  opacity: 1; }

.contact_container p {
  font-size: 3.5vw;
  margin: 0; }

.back_to_portfolio {
  padding: 10px 0 20px 0; }

.contact_container a {
  font-size: 3vw;
  border-radius: 5px;
  background-color: crimson;
  margin: 10px;
  padding: 0 10px 0 10px; }

@media (max-width: 950px) {
  .sticky_about {
    position: sticky;
    top: -200px; }

  .sticky_projects {
    position: sticky;
    top: -600px; }

  .sticky_bottom {
    z-index: 400;
    position: sticky;
    top: -100px; }

  .michael {
    font-size: 5vw;
    margin-left: 2vw; }

  .hide {
    display: none; }

  .nav_stripe {
    display: flex;
    align-items: center;
    justify-content: space-between; }

  .nav_bar_list_container {
    background-color: #2E6473;
    position: fixed;
    top: 15vw;
    right: 10px;
    margin-right: 0;
    border: 1px solid #f7f1c3;
    z-index: 2; }

  .nav_list {
    display: flex;
    flex-direction: column;
    padding: 10px; }

  li {
    margin: 0;
    font-size: 5.5vw; }

  .hamburger_icon {
    display: block;
    padding-right: 5vw;
    font-size: 6vw; }

  header {
    margin: 1vw; }

  .svg_container {
    width: 50vw; }

  .welcome_message h1 {
    margin-bottom: -18px;
    font-size: 8vw; }

  .welcome_message h2 {
    font-size: 7vw; }

  .status {
    font-size: 5vw; }

  .learn {
    font-size: 4.5vw;
    padding-bottom: 2vw; }

  .intro_text {
    padding: 0 10px 10px 10px;
    width: 100%; }

  .intro_text h1 {
    font-size: 7vw;
    margin: 0; }

  .intro_text p {
    font-size: 4vw;
    padding-bottom: 20px;
    margin: 0; }

  .wrapped_photo {
    display: flex;
    align-items: center; }

  .small_photo {
    display: block;
    margin: 10px 0 10px 10px;
    border-radius: 40px;
    width: 110%;
    height: 27vw; }

  .large_photo {
    display: none; }

  .projects_container h1 {
    margin: 0;
    font-size: 7vw; }

  .screenshot_container {
    margin: 15px 10px 10px 10px;
    height: 35vw; }

  .project_text {
    padding: 10px; }

  .project_text h2 {
    font-size: 5vw; }

  .project_description p {
    margin: 0;
    font-size: 3.5vw; }

  #food_delivered_description p,
  #penny_lane_description p,
  #gopher_glory_description p {
    font-size: 3vw;
    padding-bottom: 0; }

  .more_info a {
    margin: 0;
    font-size: 3vw; }

  .project_link {
    padding: 0 1px 0 1px; }

  .contact_container h1 {
    font-size: 7vw; }

  label {
    font-size: 4vw; }

  .contact_container form {
    text-align: left;
    margin: 0 50px 20px 50px; }

  input[type=text],
  input[type=email] {
    font-size: 4vw; }

  input[type=submit] {
    font-size: 5vw;
    margin-bottom: 0; }

  form .message {
    font-size: 4vw; }

  .socials {
    font-size: 7vw; }

  .copyright_info {
    font-size: 3vw; } }
@media (max-width: 700px) {
  .sticky_about {
    position: sticky;
    top: 0; }

  .sticky_projects {
    position: sticky;
    top: 0; }

  .sticky_bottom {
    z-index: 400;
    position: sticky;
    top: -100px; }

  .small_photo {
    width: 150%;
    height: 37vw; } }
@media (hover: hover) and (pointer: fine) {
  ul a:hover {
    border: #f7f1c3 solid 1px;
    border-radius: 5px;
    padding: 0 5px 0 5px; }

  .learn a:hover {
    border: #2E6473 solid 1px;
    border-radius: 5px;
    padding: 0 5px 0 5px; }

  .more_info a:hover {
    border: solid 1px #f7f1c3; }

  input[type=submit]:hover {
    border: #FFF solid 1px;
    border-radius: 5px; }

  .back_to_top:hover {
    background-color: #f7f1c3;
    color: crimson; }

  .socials_link:hover {
    border: solid #35395E 1px;
    border-radius: 5px; }

  .contact_container a:hover {
    background-color: #f7f1c3;
    color: crimson; } }

/*# sourceMappingURL=style.css.map */
