@import "imports/svg";

$main_font: 'Jaldi';
$main_font_color: #f7f1c3;
$greeting_font_color: #2E6473;
$background_color: #f7f1c3;
$nav_bar_color: #2E6473;
$about_color: #CA4B4B;
$project_color: #628D48;
$contact_color: #CA9F4B;
$footer_color: #35395E;

@mixin stripe() {
    border: solid $background_color 1px;
    border-right: 0;
    border-left: 0;
}

@mixin flex_space_between {
    display: flex;
    justify-content: space-between;
}

@mixin image_container {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin flex_center {
    display: flex;
    align-items: center;
}


//-------------------------------------------------

* {
    box-sizing: border-box;
}

body {
    margin:0 auto;
    font-family: $main_font;
    background-color: $background_color;
    color: $main_font_color;
}

.sticky {
    position: sticky;
    top: 0;
}

.sticky_projects {
    position: sticky;
    top: -600px;
}

.bottom_sticky {
    z-index: 400;
    position: sticky;
    top: 0px;
    background-color: $background_color;
}

.top_container {
    position: sticky;
    top: 0;
    z-index: 1;
}

.michael {
    font-size:3vw;
    margin: 0 0 0 120px;
}

.michael h2 {
    margin: 0;
    border: $nav_bar_color solid 1px;
    border-radius: 5px;
}


.about_link:hover {
    border: $main_font_color solid 1px;
    border-radius: 5px;
}

nav {
    background-color: $nav_bar_color;
    padding: 20px 0 20px 0;
}

.nav_stripe {
    @include flex_space_between();
    @include stripe();
    padding: 0;
}


.nav_bar_list_container {
    @include flex_center;
    margin-right: 100px;

}

.nav_list {
    display: flex;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $main_font_color;
    z-index: 1;
}

ul a {
    border: $nav_bar_color solid 1px;
    padding: 0 5px 0 5px;
}

ul a:hover {
    border: $main_font_color solid 1px;
    border-radius: 5px;
    padding: 0 5px 0 5px;
}

ul {
    margin: 0;

}

li {
    margin: 0 30px;
    font-size: 2.3vw;
    color: $main_font_color;
}

header {
    @include flex_space_between();
}

.svg_container {
    margin-top: -40px;
    margin-bottom: -40px;
    margin-left: 15px;
    transform: scale(0.85);
}

.welcome_container {
    opacity: 0;
    width: 50%;
    margin: 50px 50px 0 0;
    @include flex_center;
    flex-direction: column;
    color: $greeting_font_color;
}

.greeting_stripe {
    @include flex_space_between();
    border: solid $greeting_font_color 1px;
    border-right: 0;
    border-left: 0;
    padding: 0;
}

.stripe_padding {
    border-radius: 10px;
    padding: 20px 0 20px 0;
    //background-color: $nav_bar_color;
    width: 100%;
}

.welcome_message {
    width: 100%;
    //background-color: $nav_bar_color;
    @include flex_center;
    flex-direction: column;
    font-size: 2vw;
}

.welcome_message h1 {
    margin: 0 0 -40px 0;
    font-size: 7vw;
}

.welcome_message h2 {
    margin: 0;
    font-size: 5vw;
}

.status {
    padding-bottom: 20px;
    font-size: 3vw;
    margin: 0;
}

.learn {
    @include flex_center;
    flex-direction: column;
    font-size: 3vw;
    width: 70%;
    margin-top: 20px;
    border-radius: 10px;
}

.learn a {
    color: $greeting_font_color;
    border: $background_color solid 1px;
    padding: 0 5px 0 5px;
}

.learn a:hover {
    border: $greeting_font_color solid 1px;
    border-radius: 5px;
    padding: 0 5px 0 5px;
}

.about_container {
    position: sticky;
    z-index: 100;
    width: 100%;
    background-color: $about_color;
    padding: 20px 0 20px 0;
}

.about_stripe {
    background-color: $about_color;
    @include flex_space_between();
    @include stripe();
}

.intro_text {
    width: 50%;
    padding: 0 0 0 50px ;
}

.intro_text h1 {
    font-size: 5vw;
    margin: 0 0 -20px 0;
    text-align: center;
}

.intro_text p {
    padding-bottom: 20px;
    font-size: 1.8vw;
}

.photo_container {
    border-radius: 100px;
    margin: 50px;
    width: 40%;
    @include image_container;
}

.project_container_stripe {
    position: sticky;
    z-index: 200;
    padding: 20px 0 20px 0;
    background-color: $project_color;
}

.projects_container {
    width: 100%;
    background-color: $project_color;
    @include stripe();
}

.projects_container h1 {
    font-size: 5vw;
    margin: -15px 0 0 0;
    text-align: center;
}

.projects_stripe {
    background-color: $project_color;
    border-top: solid white 1px;
    border-right: 0;
    border-left: 0;
}


.project_container {
    @include flex_space_between();
}

.screenshot_container {
    border-radius: 10px;
    margin: 30px 30px 30px 50px;
    width: 40%;
    height: 350px;
    @include image_container;
}

.project_text {
    width: 65%;
    padding: 20px;
}

.project_text h2 {
    font-size: 3.5vw;;
    margin: 0;
}

.project_description p {
    font-size: 2.2vw;
    margin-top: 0;
    margin-bottom: 20px;
}

.more_info {
    display: flex;
    justify-content: space-between
}

.more_info a {
    border: solid 1px $project_color;
}

.more_info a:hover {
    border: solid 1px $main_font_color;
}

.read_more {
    font-size: 2.5vw;
    color: $main_font_color;
    border-radius: 10px;
    //border: solid 1px white;
    padding: 0 10px 0 10px;
    margin-right: 10px;
    cursor: pointer;
}

.project_link {
    font-size: 2.5vw;
    border-radius: 10px;
    //border: solid 1px white;
    padding: 0 10px 0 10px;
    margin-right: 10px;
}

.project_link .fa {
    color: $main_font_color;
}

.project_link .fa-brands {
    color: $main_font_color;
}

.full_desc {
    display: none;
}

.description_header {
    position: relative;
}

.description_stripe {
    border-top: solid 1px $main_font_color;
}

#food_delivered_container {
    position: relative;
}

#food_delivered_description {
    position: absolute;
    margin: 10px;
    border: solid 1px white;
    border-radius: 10px;
    background-color: #385228;
    opacity: 0.95;
    font-size: 2.1vw;
    z-index: 199;
    padding: 10px;
}

#close_food_delivered_desc_button {
    position: absolute;
    right: 0%;
    top: 0%;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

#food_delivered_description h2 {
    text-align: center;
    margin: 0;
    opacity: 1;
}

#food_delivered_description p {
    opacity: 1;
    margin: 0;
    padding: 0px 10px 0px 20px;
}

#penny_lane_container {
    position: relative;
}

#penny_lane_description {
    position: absolute;
    margin: 10px;
    border: solid 1px white;
    border-radius: 10px;
    background-color: #385228;
    opacity: 0.95;
    font-size: 2.1vw;
    z-index: 199;
    padding: 10px;
}

#close_penny_desc_button {
    position: absolute;
    right: 0%;
    top: 0%;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

#penny_lane_description h2 {
    text-align: center;
    margin: 0;
    opacity: 1;
}

#penny_lane_description p {
    opacity: 1;
    margin: 0;
    padding: 0px 10px 10px 20px;
}


#gopher_glory_container {
    position: relative;
}

#gopher_glory_description {
    position: absolute;
    margin: 10px;
    border: solid 1px white;
    border-radius: 10px;
    background-color: #385228;
    opacity: 0.95;
    font-size: 2.1vw;
    z-index: 199;
    padding: 10px;
}

#close_gopher_desc_button {
    position: absolute;
    right: 0%;
    top: 0%;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

#gopher_glory_description h2 {
    text-align: center;
    margin: 0;
    opacity: 1;
}

#gopher_glory_description p {
    opacity: 1;
    margin: 0;
    padding: 0px 10px 10px 20px;
}

.contact_padding {
    //margin: 20px 0 20px 0;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $contact_color;
}

.contact_container {
    background-color: $contact_color;
    color: #FFF;
    @include stripe();
    text-align: center;
}

.contact_container form {
    text-align: left;
    margin: 0 150px 20px 150px;
}

.contact_container h1 {
    font-size: 5vw;
    margin-top: 20px;
    margin-bottom: 0px;
    display: inline;
}

label {
    font-size: 2vw;
}

input[type=text] {
    font-size: 2vw;
    display: block;
    border: white solid 1px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
}

input[type=submit] {
    font-size: 3vw;
    color: white;
    background-color: transparent;
    font-family: $main_font;
    width: 150px;
    border: $contact_color solid 1px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    margin-bottom: 30px;
}

input[type=submit]:hover {
    border: white solid 1px;
    border-radius: 5px;
}

form .message {
    font-size: 2vw;
    display: block;
    border: white solid 1px;
    border-radius: 5px;
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
}


.copyright_info {
    color: $footer_color;
    font-size: 1.5vw;
    display: block;
    text-align: center;
    padding-bottom: 15px;
}

.socials {
    display: block;
    text-align: center;
    font-size: 4.5vw;
}

.socials .fa {
    color: $footer_color;
    text-align: center;
    padding: 10px;
}

.back_to_top {
    border-radius: 5px;
    background-color: crimson;
    position: sticky;
    z-index: 500;
    bottom: 10px;
    left: 10000px;
    width: 100px;
    text-align: center;
    padding: 2px;
    margin-right: 20px;
    opacity: 0;
}

.back_to_top:hover {
    background-color: $background_color;
    color: crimson;
}

.show {
    opacity: 1;
}







