* {
    box-sizing: border-box;
}

body {
    margin:0 auto;
    font-family: 'Jaldi';
    background-color: #DADADA;
    color: #fff;
}

.michael {
    font-size: 2.5vw;
    margin: 0 0 0 100px;
}

.michael h2 {
    margin: 0;
}

nav {
    background-color: #4C93AA;
    padding: 20px 0 20px 0;
}

.stripe {
    background-color: #4C93AA;
    display: flex;
    justify-content: space-between;
    border: solid white 1px;
    border-right: 0;
    border-left: 0;
    padding: 0;
}

.nav_bar_list_container {
    display: flex;
    align-items: center;
    margin-right: 100px;
}

.nav_list {
    display: flex;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    margin: 0;
}

li {
    margin: 0 30px;
    font-size: 2.3vw;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
}

.svg_container {
    margin-top: -40px;
    margin-bottom: -40px;
    margin-left: 15px;
    transform: scale(0.85);
}

.welcome_container {
    width: 50%;
    margin: 50px 50px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stripe_padding {
    border-radius: 10px;
    padding: 20px 0 20px 0;
    background-color: #4C93AA;
    width: 100%;
}

.welcome_message {
    width: 100%;
    background-color: #4C93AA;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2vw;
}

.welcome_message h1 {
    margin: 0 0 -40px 0;
    font-size: 7vw;
}

.welcome_message h2 {
    margin: 0;
    font-size: 5vw;
}

.status {
    padding-bottom: 20px;
    font-size: 3vw;
    margin: 0;

}

.learn {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3vw;
    width: 70%;
    background-color: #4C93AA;
    margin-top: 20px;
    border-radius: 10px;
}

.about_container {
    width: 100%;
    background-color: #CA4B4B;
    padding: 20px 0 20px 0;
}

.about_stripe {
    background-color: #CA4B4B;
    display: flex;
    justify-content: space-between;
    border: solid white 1px;
    border-right: 0;
    border-left: 0;
}

.intro_text {
    width: 50%;
    padding: 0 0 0 50px ;
}

.intro_text h1 {
    font-size: 5vw;
    margin: 0 0 -20px 0;
    text-align: center;
}

.intro_text p {
    padding-bottom: 20px;
    font-size: 1.8vw;
}

.photo_container {
    border-radius: 100px;
    margin: 50px;
    width: 40%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.read_more {
    position: fixed;
    visibility: hidden;
}

.project_container_stripe {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #628D48;
}

.projects_container {
    width: 100%;
    background-color: #628D48;
    border-top: solid white 1px;
    border-bottom: solid white 1px;
}

.projects_container h1 {
    font-size: 5vw;
    margin: -15px 0 0 0;
    text-align: center;
}

.projects_stripe {
    background-color: #628D48;
    border-top: solid white 1px;
    border-right: 0;
    border-left: 0;
}

.project_container {
    display: flex;
    justify-content: space-between;
}

.screenshot_container {
    border-radius: 10px;
    margin: 30px 30px 30px 50px;
    width: 40%;
    height: 350px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.project_text {
    width: 65%;
    padding: 20px;
}

.project_text h2 {
    font-size: 3.5vw;;
    margin: 0;
}

.project_description p {
    font-size: 1.8vw;
    margin-top: 0;
    margin-bottom: 20px;
}

.project_text a {
    margin-top: 10px;
    font-size: 3vw;
    border-radius: 10px;
    border: solid 1px white;
    padding: 0 10px 0 10px;
}

.contact_padding {
    margin: 20px 0 20px 0;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #CA9F4B;

}

.contact_container {
    background-color: #CA9F4B;
    border-top: solid 1px white;
    border-bottom: solid 1px white;
    text-align: center;
}

.contact_container form {
    text-align: left;
    margin: 0 150px 20px 150px;
}

.contact_container h1 {
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 5vw;
    display: inline;
}

label {
    font-size: 2vw;
}

input[type=text] {
    font-size: 2vw;
    display: block;
    border: white solid 1px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
}

input[type=submit] {
    font-size: 3vw;
    color: white;
    background-color: transparent;
    font-family: 'Jaldi';
    width: 150px;
    border: white solid 1px;
    border-radius: 5px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    margin-bottom: 30px;
}

form .message {
    height: 100px;
    width: 100%;
    margin-bottom: 20px;
}

.footer {
    color: #35395E;
    font-size: 1.5vw;
    display: block;
    text-align: center;
    padding-bottom: 15px;
}

.back_to_top {
    border-radius: 5px;
    background-color: crimson;
    position: sticky;
    bottom: 10px;
    left: 10000px;
    width: 100px;
    text-align: center;
    padding: 2px;
    margin-right: 20px;
}






