

@keyframes rotate{
    0%{ transform: rotate(0deg); }
    40%{ transform: rotate(360deg); }
    60%{ transform: rotate(360deg); }
    100%{ transform: rotate(720deg); }

}

.top_circle_image {
    margin: 100px;
    animation-duration: 20s;
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    transform-origin: 318px 112px ;
}

.top_left_circle_image {
    margin: 100px;
    animation-duration: 20s;
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    transform-origin: 113px 239px;
}

.bottom_left_circle_image {
    margin: 100px;
    animation-duration: 20s;
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    transform-origin: 120px 481px  ;
}

.bottom_circle_image {
    margin: 100px;
    animation-duration: 20s;
    animation-name: rotate;
    animation-iteration-count: infinite;
    /*animation-direction: reverse;*/
    animation-timing-function: ease-in-out;
    transform-origin: 332px 592px  ;
}

.top_right_circle_image {
    margin: 100px;
    animation-duration: 20s;
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-timing-function: ease-in-out;
    transform-origin: 531px 228px  ;
}

.bottom_right_circle_image {
    margin: 100px;
    animation-duration: 20s;
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-timing-function: ease-in-out;
    transform-origin: 535px 466px  ;
}

.main_circle_image {
    margin: 100px;
    animation-duration: 20s;
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-timing-function: ease-in-out;
    transform-origin: 327px 365px;
}

.bottom_polygon {
    margin: 100px;
    animation-duration: 20s;
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-timing-function: ease-in-out;
    transform-origin: 327px 365px;
}

.top_polygon {
    margin: 100px;
    animation-duration: 20s;
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    transform-origin: 327px 365px;
}

.polygon_frame {
    margin: 100px;
    animation-duration: 20s;
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    transform-origin: 327px 365px  ;
}

.polygon_frame_reverse {
    margin: 100px;
    animation-duration: 20s;
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-timing-function: ease-in-out;
    transform-origin: 327px 365px ;
}





